{% extends 'adminbase.html' %}


{% block admin %}


<div class="">
    <!--
  Heads up! 👋

  Plugins:
    - @tailwindcss/forms
-->

    <div class="mx-auto max-w-screen-xl px-4 py-16 sm:px-6 lg:px-8">
        <div class="mx-auto max-w-lg">
            <h1 class="text-center text-2xl font-bold text-indigo-400 sm:text-3xl">Welcome, Admin</h1>


            <form action="addtag" method="post" class="mb-0 mt-6 space-y-4 rounded-lg p-4 shadow-lg sm:p-6 lg:p-8">
                {% csrf_token %}
                <p class="text-center text-lg font-medium">Add Tag</p>

                <div>
                    <label for="email" class="sr-only">Tag Name</label>

                    <div class="relative">
                        <input type="text" class="w-full rounded-lg border-2 border-indigo-400 p-4 pe-12 text-sm shadow-sm"
                            id="tag_name" placeholder="Html" name="tag_name" required />


                    </div>
                </div>

                <div>
                    <label for="password" class="sr-only">Tag Description</label>

                    <div class="relative">
                        <input type="text" class="w-full rounded-lg border-2 border-indigo-400 p-4 pe-12 text-sm shadow-sm"
                            id="tag_desc"
                            placeholder="The HyperText Markup Language or HTML is the standard markup language for documents designed to be displayed in a web browser. It defines the content and structure of web content. It is often assisted by technologies such as Cascading Style Sheets (CSS) and scripting languages such as JavaScript."
                            name="tag_desc" required />


                    </div>
                </div>

                <button type="submit"
                    class="block w-full rounded-lg bg-indigo-600 px-5 py-3 text-sm font-medium text-white">
                    Save
                </button>
            </form>
        </div>
    </div>
</div>

{% endblock %}