{% extends 'adminbase.html' %}

{% block title %}Admin - All Tags{% endblock %}

{% block admin %}
    
    <table border="10">
    {% for tag in tags %}
        <tr>
            <td>{{forloop.counter}}</td>
            <td>{{tag.tag_name}}</td>
            <td>{{tag.tag_desc}}</td>
            <td>{{tag.created_at}}</td>
            <td><a href="{% url 'update_tag' tag_id=tag.id %}"><button>Update</button></a></td>
            <td><a href="{% url 'delete_tag' tag_id=tag.id %}"><button>Delete</button></a></td>
        </tr>
    {% endfor %}
</table>
        
{% endblock %}
    