{% extends 'adminbase.html' %}


{% block admin %}


<div class="">
    <!--
  Heads up! 👋

  Plugins:
    - @tailwindcss/forms
-->

    <div class="mx-auto max-w-screen-xl px-4 py-16 sm:px-6 lg:px-8">
        <div class="mx-auto max-w-lg">


            <form action="" method="post" class="mb-0 mt-6 space-y-4 rounded-lg p-4 shadow-lg sm:p-6 lg:p-8">
                {% csrf_token %}
                <p class="text-center text-lg font-medium">Add Admin</p>

                <div>
                    <label for="email" class="sr-only">Admin Name</label>

                    <div class="relative">
                        <input type="text" class="w-full rounded-lg border-2 border-indigo-400 p-4 pe-12 text-sm shadow-sm"
                            id="name" placeholder="Name" name="name" required />


                    </div>
                </div>

                <div>
                    <label for="password" class="sr-only">Admin Description</label>

                    <div class="relative">
                        <input type="text" class="w-full rounded-lg border-2 border-indigo-400 p-4 pe-12 text-sm shadow-sm"
                            id="tag_desc"
                            placeholder="Email"
                            name="email" required />


                    </div>
                </div>

                <div>
                    <label for="password" class="sr-only">Admin Password</label>

                    <div class="relative">
                        <input type="password" class="w-full rounded-lg border-2 border-indigo-400 p-4 pe-12 text-sm shadow-sm"
                            placeholder="Set Password"
                            name="password"
                            title="Password contain uppercase,lowercase,number,special char,password should be 8-18 length" pattern="(?=.*[0-9])(?=.*[a-z])(?=.*[A-Z])(?=.*[@#%&*?!]).{8,18}"
                            required />


                    </div>
                </div>

                <button type="submit"
                    class="block w-full rounded-lg bg-indigo-600 px-5 py-3 text-sm font-medium text-white">
                    Save
                </button>
            </form>

            <div class="messages">
                  
                {% for message in messages %}
                <div role="alert" class="rounded-xl border border-gray-100 bg-white p-4">
                  <div class="flex items-start gap-4">
                    <span class="text-green-600">
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        fill="none"
                        viewBox="0 0 24 24"
                        stroke-width="1.5"
                        stroke="currentColor"
                        class="h-6 w-6"
                      >
                        <path
                          stroke-linecap="round"
                          stroke-linejoin="round"
                          d="M9 12.75L11.25 15 15 9.75M21 12a9 9 0 11-18 0 9 9 0 0118 0z"
                        />
                      </svg>
                    </span>
                
                    <div class="flex-1">
                      <strong class="block font-medium text-gray-900"> {{message}} </strong>
                    </div>
                  </div>
                </div>
                  
                {% endfor %}
                  
              </div>
        </div>
    </div>
</div>

{% endblock %}