{% extends 'adminbase.html' %}

{% block title %}Admin - All Queries{% endblock %}

{% block admin %}
    
    <table border="10">
    {% for query in queries %}
        <tr>
            <td>{{forloop.counter}}</td>
            <td>{{query.query}}</td>
            <td>{{query.desc}}</td>
            <td>{{query.tag.tag_name}}</td>
            <td>{{query.user.username}}</td>
            <td>{{query.created_at}}</td>
            <td><a href="{% url 'delete_question' question_id=query.id user_id=query.user.id %}"><button>Delete</button></a></td>
        </tr>
    {% endfor %}
</table>
        
{% endblock %}
    