{% extends 'adminbase.html' %}

{% block title %}Admin - All Responses{% endblock %}

{% block admin %}
    
    <table border="10">
    {% for response in responses %}
        <tr>
            <td>{{forloop.counter}}</td>
            <td>{{response.response}}</td>
            <td>{{response.query_id}}</td>
            <td>{{response.user.username}}</td>
            <td>{{response.created_at}}</td>
            <td><a href="{% url 'delete_response' response_id=response.id user_id=response.user.id %}"><button>Delete</button></a></td>
        </tr>
    {% endfor %}
</table>
        
{% endblock %}
    