{% extends 'base.html' %}


{% block content %}
    
    {% for mentor in mentors %}
        
        {% if mentor.user.id != request.user.id %}
            <h2>{{mentor.user.username}}</h2>
            <h2>{{mentor.linkedin_profile}}</h2>
            <h2>{{mentor.experience}}</h2>
            <h2>{{mentor.designation}}</h2>
            <h2>{{mentor.introduction}}</h2>
            <h2>{{mentor.domains}}</h2>

            <a href="">
                <button>Book Mentor</button>
            </a>
        {% endif %}
            
    {% endfor %}
        
{% endblock %}
    