{% extends 'base.html' %}

{% block content %}
<div class="profile_det">
    <h1>Username : {{user_detail.username}}</h1>
    <h2>First Name : {{user_detail.first_name}}</h2>
    <h2>Last Name : {{user_detail.last_name}}</h2>
    <h2>Email : {{user_detail.email}}</h2>
    <h2>Profile Pic : <img src="{{user_detail.profile_pic}}" alt="profile_pic"></h2>
    <h2>Total Posts : {{user_detail.total_query}}</h2>
    <h2>User Since : {{user_detail.created_at}}</h2>
</div>

<div class="posts">
    
    <h1>All Posts</h1>
    {% for post in posts %}
        <div class="post">
            <a href="{% url 'question_detail' question_id=post.id %}">
                <h2>{{post.query}}</h2>
                <h3>{{post.desc}}</h3>
            </a>
            <h3>{{post.tag.tag_name}}</h3>
            <h3>{{post.created_at}}</h3>
        </div>
    {% endfor %}
        
</div>
{% endblock %}