{% extends 'base.html' %}

{% block content %}
{% load humanize %}

<head>
    <style>
          .gradient-border {
          /* background: linear-gradient(to right, #ff7e5f, #feb47b); */
          border: 2px solid transparent;
          color: #000;
          border-radius: 4px;
          border-image: linear-gradient(to right, #48CB90, #8675ED);
          border-image-slice: 1;
        }

        

        .gradient-border-div {
          border: 2px solid #6575f1;
          color: #000;
          border-radius: 50%;
          border-image-slice: 1;
        }
     


        .gradient-border:hover {
            background: #6575F1;
            color: #fff;
        }
      
        /* Additional styles for smooth transition */
        #popup.transition-opacity {
            transition: opacity 0.5s ease-in-out;
        }
    </style>
</head>

<div class="p-16 bg-indigo-100 ">
    {%if user_detail.points >= 40 and not user_detail.is_mentor %}
    <div
  class="bg-indigo-600  rounded-[10px] px-4 py-3 text-white sm:flex sm:items-center sm:justify-between sm:px-6 lg:px-8"
>
  <p class="text-center font-medium sm:text-left">
    Your Contributions are Incredible! 🎉 
    <br class="sm:hidden" />
   You are now eligible for Mentor.
  </p>

  <button
    class="mt-4 block rounded-lg bg-white px-5 py-3 text-center text-sm font-medium text-indigo-600 transition hover:bg-white/90 focus:outline-none focus:ring active:text-indigo-500 sm:mt-0"
    id="openPopup"
  >
    Become a mentor!
</button>
  
</div>

<!-- Popup container -->
<div id="popup" class="hidden  fixed inset-0 bg-gray-500 bg-opacity-75 flex items-center justify-center z-50 transition-opacity">

    <!-- Popup content -->
    <div class="bg-white mx-4 rounded-lg shadow-md relative">

        <!-- Close button -->
        
        <!-- White box for content -->
        <div class="bg-white p-0 rounded-lg">
            <button id="closePopup" class="absolute top-0 right-0 mt-2 mr-2 bg-white rounded-[5px] text-gray-500 hover:text-gray-700 focus:outline-none focus:text-gray-700">
                <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"></path>
                </svg>
            </button>

            <!-- Popup content goes here -->
            <section>
                <div class="mx-auto max-w-screen-2xl">
                  <div class="grid grid-cols-1 gap-4 md:grid-cols-2">
                    <div class="bg-blue-600 p-8 md:p-12 lg:px-16 lg:py-24">
                      <div class="mx-auto max-w-xl flex flex-col justify-center items-start">
                        <span class="bg-indigo-100 p-2 text-l text-indigo-600 rounded-sm my-3 font-medium">Earn money by mentoring others!</span>
                        <h2 class="text-2xl font-bold text-white my-3 md:text-3xl">
                         Become a mentor!
                        </h2>
              
                        <p class="hidden text-white/90 sm:mt-4 sm:block">
                            Get instantly paid for every mentorship that you take & offer more services to others!
                        </p>
              
                        <div class="mt-4 md:mt-8">
                          <a
                            href="/become-mentor"
                            class="inline-block rounded border border-white bg-white px-12 py-3 text-sm font-medium text-blue-500 transition hover:bg-transparent hover:text-white focus:outline-none focus:ring focus:ring-yellow-400"
                          >
                            Get Started Today
                          </a>
                        </div>
                      </div>
                    </div>
              
                    <div class="grid grid-cols-2 gap-4 md:grid-cols-1 lg:grid-cols-2">
                      <img
                        alt=""
                        src="https://images.unsplash.com/photo-1621274790572-7c32596bc67f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=654&q=80"
                        class="h-40 w-full object-cover sm:h-56 md:h-full"
                      />
              
                      <img
                        alt=""
                        src="https://images.unsplash.com/photo-1567168544813-cc03465b4fa8?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=774&q=80"
                        class="h-40 w-full object-cover sm:h-56 md:h-full"
                      />
                    </div>
                  </div>
                </div>
              </section>

        </div>
    </div>
</div>

    {%endif%}
    <div class="p-8  shadow mt-24">

        <div class="relative">
            <div
                class="w-[150px] h-[150px] -mt-16 hover:animate-background mx-auto rounded-full bg-gradient-to-r from-green-300 via-blue-500 to-purple-600 p-0.5 shadow-xl transition flex justify-center items-center hover:bg-[length:400%_400%] hover:shadow-sm hover:[animation-duration:_4s]">
                <div class="rounded-full bg-white p-2 sm:p-6">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-24 w-24" viewBox="0 0 20 20" fill="currentColor">
                    <path fill-rule="evenodd" d="M10 9a3 3 0 100-6 3 3 0 000 6zm-7 9a7 7 0 1114 0H3z"
                        clip-rule="evenodd" />
                </svg>
            </div>
            </div>
        </div>




        <div class="mt-14 text-center pb-12">
            <h1 class="text-4xl font-medium text-gray-700">{{user_detail.first_name}} {{user_detail.last_name}}</h1>
            <p class="font-light text-gray-600 mt-3">{{user_detail.username}}</p>
            
            {% if user_detail.is_mentor %}
              <p class="font-light text-gray-600 mt-3">Mentor</p>
            {% endif %}
              
        </div>
        <div class="grid grid-cols-3 text-center mb-12 order-last md:order-first mt-20 md:mt-0">
            <div>
                <p class="font-bold text-gray-700 text-xl">{{user_detail.total_query}}</p>
                <p class="text-gray-400">Total Questions</p>
            </div>
            <div>
                <p class="font-bold text-gray-700 text-xl">{{user_detail.total_response}}</p>
                <p class="text-gray-400">Total Comments</p>
            </div>
            <div>
                <p class="font-bold text-gray-700 text-xl">{{user_detail.points}} 🪙</p>
                <p class="text-gray-400">Total Points</p>
            </div>
        </div>
     

        <h2 class="text-2xl text-center font-bold my-6">Your Questions</h2>
        {% for post in posts %}
        <div class="w-full ms-6 mb-4">
            <article
              class="hover:animate-background rounded-xl bg-gradient-to-r from-green-300 via-blue-500 to-purple-600 p-0.5 shadow-xl transition hover:bg-[length:400%_400%] hover:shadow-sm hover:[animation-duration:_4s]">
              <div class="rounded-[10px] bg-white p-4 sm:p-6">
                <time datetime="2022-10-10" class="block text-xs text-gray-500"> {{ post.created_at|naturaltime }} </time>
      
                <a href="{% url 'question_detail' question_id=post.id %}">
                  <h3 class="mt-0.5 text-lg font-medium text-gray-900">
                    {{post.query}}
                  </h3>
                  <p class="text-gray-600">{{post.desc}}</p>
                </a>
      
                <div class="mt-4 flex flex-wrap gap-1">
                  <span class="whitespace-nowrap rounded-full bg-purple-100 px-2.5 py-0.5 text-xs text-purple-600">
                    Tag: {{post.tag.tag_name}}
                  </span>
                </div>
              </div>
            </article>
          </div>
          {% endfor %}

    </div>
</div>

<script>
    // JavaScript to show/hide the popup
    document.getElementById('openPopup').addEventListener('click', function () {
        document.getElementById('popup').classList.remove('hidden');
    });

    document.getElementById('closePopup').addEventListener('click', function () {
        document.getElementById('popup').classList.add('hidden');
    });
</script>


{% endblock %}