{% extends 'base.html' %}

{% block title %}TechInteract - All Questions{% endblock %}

{% block content %}
{% load humanize %}
    
    
    <div class="container">

      <div class="search-bar my-5 ms-8  flex">
        <h2 class="text-2xl text-center font-bold my-3">All Questions</h2>
        <form action="" method="get" class="flex ms-auto">
        <input type="search" class="w-full px-4 py-2 me-4 border-b-2 focus:outline-none focus:border-indigo-600" name="search_question" id="" placeholder="Search Questions">
        <input type="submit" class="bg-indigo-500 text-white hover:bg-indigo-700 border-0 py-1 px-3 focus:outline-none hover:bg-gray-200 rounded text-base mt-4 md:mt-0" value="Search">
      </form>
      </div>

    {% for query in queries %}
    <div class="w-full ms-6 mb-4">
  
        <article
          class="hover:animate-background rounded-xl bg-gradient-to-r from-green-300 via-blue-500 to-purple-600 p-0.5 shadow-xl transition hover:bg-[length:400%_400%] hover:shadow-sm hover:[animation-duration:_4s]">
          <div class="rounded-[10px] bg-white p-4 sm:p-6">
            <time datetime="2022-10-10" class="block text-xs text-gray-500"> {{ query.created_at|naturaltime }} </time>
  
            <a href="{% url 'question_detail' question_id=query.id %}">
              <h3 class="mt-0.5 text-lg font-medium text-gray-900">
                {{query.query}}
              </h3>
              <p class="text-gray-600">{{query.desc}}</p>
            </a>
  
            <div class="mt-4 flex flex-wrap gap-1">
              <span class="whitespace-nowrap rounded-full bg-purple-100 px-2.5 py-0.5 text-xs text-purple-600">
                Tag: {{query.tag.tag_name}}
              </span>
  
              <span class="whitespace-nowrap rounded-full bg-purple-100 px-2.5 py-0.5 text-xs text-purple-600">
                Created By: {{query.user.username}}
              </span>
            </div>
          </div>
        </article>
      </div>
    {% endfor%}
</div>

{% endblock %}
    