{% extends 'base.html' %}

{% block content %}

<div class="query">
    <h2>{{query.query}}</h2>
    <h3>{{query.desc}}</h3>
    <h3>{{query.tag.tag_name}}</h3>
    <h3>{{query.user.username}}</h3>
    <h3>{{query.created_at}}</h3>
</div>

<div class="response_block">
    <h2>Your Answer</h2>

    <form action="/add_response" method="post">
        {% csrf_token %}
        <input type="hidden" name="query" value="{{query.id}}">
        <textarea name="response" id="response" cols="70" rows="10">
        </textarea>
        <input type="submit" value="Post Answer">
    </form>

    {% for response in responses %}
    <div class="response">
        <h2>{{response.response}}</h2>
        By : <h3>{{response.user.username}}</h3>
        At : <h3>{{response.created_at}}</h3>
    </div>
    {% endfor %}

</div>
{% endblock %}