{% extends 'base.html' %}

{% block title %}TechInteract - All Tags{% endblock %}

{% block content %}
<div class="container">

  <div class="search-bar mt-5">
    <form action="" method="get">
    <input type="search" name="search_tag" id="" placeholder="Search Tags">
    <input type="submit" class="bg-indigo-500 text-white hover:bg-indigo-700 border-0 py-1 px-3 focus:outline-none hover:bg-gray-200 rounded text-base mt-4 md:mt-0" value="Search">
  </form>
  </div>

    <h2 class="text-2xl text-center font-bold my-3">View Questions By Tag</h2>
{% for tag in tags %}
<div class="w-full ms-6 mb-4">
    <!--
Heads up! 👋

Custom CSS:
- animate-background https://github.com/markmead/hyperui/blob/main/tailwind.preset.js
-->

    <article
      class="hover:animate-background rounded-xl bg-gradient-to-r from-green-300 via-blue-500 to-purple-600 p-0.5 shadow-xl transition hover:bg-[length:400%_400%] hover:shadow-sm hover:[animation-duration:_4s]">
      <div class="rounded-[10px] bg-white p-4  sm:p-6">
        

        <a href="{% url 'tag_detail' tag_id=tag.id %}">
          <h3 class="mt-0.5 text-lg font-medium text-gray-900">
            {{tag.tag_name}}
          </h3>
          <p class="text-gray-600">{{tag.tag_desc}}</p>
        </a>

       
      </div>
    </article>
  </div>
{% endfor%}
</div>

{% endblock %}